<tr>
  <td><%= word.content %></td>
  <td>
    <% word.answers.each do |answer| %>
      <%= answer.content if answer.is_correct %>
    <% end %>
  </td>
  <td>
    <%= link_to "#" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
  <td>
    <%= link_to "#" do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
