<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <%= image_tag @user.avatar.url, class: "image" %>
      <h3><%= t "helloname", name: @user.name %></h3>
    </section>
  </aside>
</div>
