<div class="container">
  <div class="row center">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag words_path, method: :get, remote: true,
        class: "form-inline" do %>
        <%= search_field_tag :search_word, params[:search_word],
          placeholder: t("word.search_word"), class: "form-control" %>
        <%= submit_tag t("search"), name: nil, class: "btn-success" %>
      <% end %>
    </div>
  </div>
</div>
