<div class="container">
  <%= render "search_words" %>
  <div class="row">
    <hr>
    <%= render "search_form" %>
  </div>
  <h2 class="word-list"><%= t "word.list_words" %></h2>
  <div class="col-md-9 col-md-offset-2">
    <div id ="words_record">
      <%= render "list_words" %>
    </div>
  </div>
</div>
