<table class="table">
  <thead>
    <tr>
      <td><%= t "category.categories" %></td>
      <td><%= t "category.quanlity_word" %></td>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
