<% provide :title, t("category.categories") %>
<div class="container">
  <h2><%= t "list_categories" %></h2>
  <h2><%= link_to t("category.btn_create"), new_admin_category_path, class: "btn btn-primary" %></h2>
  <div id ="categories_filter">
    <%= render "list_categories" %>
  </div>
</div>
