@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$blue-medium-light: #428bca;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#header {
  color: #FFFFFF;
  a{
    color: #FFFFFF;
  }
  a:hover, .container:hover
  {
    background-color: #3498db;
  }
  margin-bottom: 30px;
}
.dropdown-menu {
  background-color: #34495e;
}
#header nav {
  background:#34495e;
  padding-top:10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
#header ul {
  padding-right: 50px;
}
#header li {
  padding-right: 10px;
  padding-left: 10px;
}
#header a {
  padding: 10px 20px;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: green;
  }
  h3 {
    font-size: 18px;
    color: red;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.categories {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  li {
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.category-title{
  font-weight: bold;
  color: $blue-medium-light;
}

.category_style {
  width: 300px;
}
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
    width: auto;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
    border: 0;
    padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  margin-top: 15px;
  background-color: #428bca;
}

.image {
  width: auto;
  height: 200px;
  margin-bottom: 20px
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn-large {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 25px;
}

.title_header{
  font-size: 180%;
}

.title_body{
  font-size: 130%;
}

.btn-category {
  width: 30%;
  height: 50%;
  margin: 0px;
}

.users {
  list-style: none;
  margin-left: 0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.image_avatar {
  width: auto;
  height: 50px;
}

.feed_user {
  margin-top: 20px;
}

.form-small {
  width: auto;
  display: inline-block;
}

.margin-zero {
  margin: 0;
}

.margin-left{
  margin-left: 10px;
}

.margin-top{
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-field{
  height: 40px;
}

.btn-create{
  display: inline-block;
  margin-top: -10px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  background-color: #428bca;
  margin-left: 538px;
  color: #fff;
}

.margin-top-fix {
  margin-top: 50px;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 15px;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}

.image-nav {
  width: auto;
  height: 20px;
  margin: 0;
}

.image-logo {
  margin-right: 10px;
  padding: 5px;
}
