<li class="category-<%= category.id %>">
  <div class="row">
    <span class="col-md-8">
      <div class="categoryTitle">
        <b><%= category.title %></b>
      </div>
    </span>
  </div>
</li>
