<div class="container">
  <div class="row center">
    <div class="col-sm-6 col-sm-offset-3 margin-top">
      <%= form_tag categories_path, method: :get, remote: true,
        class: "form-inline" do %>
        <%= search_field_tag :search_category, params[:search_category],
          placeholder: t("category.search_categories"),
          class: "form-control search-field" %>
        <%= button_tag(type: "submit", class: "btn-primary") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
