<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag categories_path, method: :get, remote: true,
        class: "form-inline" do %>
        <%= search_field_tag :search_category, params[:search_category],
          placeholder: t("category.search_categories"),
          class: "form-control" %>
        <%= submit_tag t("category.search"), name: nil,
          class: "btn-success" %>
      <% end %>
    </div>
  </div>
</div>
