<% provide :title, t("category.categories") %>
<div class="container">
  <%= render "search_index_categories" %>
  <%= link_to t("category.btn_create"), categories_path %>
  <h2 class="word-list"><%= t "list_categories" %></h2>
  <div id ="categories_filter">
    <%= render "list_categories" %>
  </div>
</div>
