<% provide :title, t("category.categories") %>
<div class="container">
  <h2 class="word-list"><%= t "list_categories" %></h2>
  <%= render "search_index_categories" %>
  <div id ="categories_filter">
    <%= render "list_categories" %>
  </div>
</div>
