<table class="table table-striped">
  <thead class="category-title">
    <th><%= t "User.name" %></th>
    <th><%= t "User.avatar" %></th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= will_paginate %>
