<% provide :title, t("index_user.title") %>
<div class="center">
  <h2><%= t "index_user.title" %></h2>
  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
